<configuration>
<appender name="jsonConsole" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="net.logstash.logback.encoder.LogstashEncoder">
        <providers>
            <timestamp/>
            <loggerName/>
            <message/>
        </providers>
    </encoder>
</appender>

<root level="INFO">
    <appender-ref ref="jsonConsole"/>
</root>
</configuration>
